$primary: #44a6f5;
$gradient1: #1db8e7;
$gradient2: #0be290;
$angular: #ff3333;
$axios: #f5df44;
$sass: #f544f0;

.Projects {
  width: 70%;
  overflow-y: scroll;

  h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 5vh;
    font-weight: 300;
    font-size: 3em;
    color: #797979;
  }

  .Categories {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 2vh auto 0;
    flex-wrap: wrap;

    .react,
    .angular,
    .axios,
    .sass {
      border: 1px solid $primary;
      margin: 1vh 0.8vw;
      padding: 10px 30px;
      border-radius: 35px;
      cursor: pointer;
      color: $primary;
      font-weight: 400;

      &:hover {
        background: $primary;
        color: #fff;
      }
    }

    .angular {
      border: 1px solid $angular;
      color: $angular;

      &:hover {
        background: $angular;
        color: #fff;
      }
    }

    .axios {
      border: 1px solid $axios;
      color: $axios;

      &:hover {
        background: $axios;
        color: #fff;
      }
    }
    .sass {
      border: 1px solid $sass;
      color: $sass;

      &:hover {
        background: $sass;
        color: #fff;
      }
    }

    .Fill {
      background: $primary;
    }

    .NgFill {
      background: red;
    }
    .AxiosFill {
      background: $axios;
    }
    .SassFill {
      background: $sass;
    }
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 0px;
    background-color: #f5f5f5;
  }
}

.ProjectsDiv {
  width: 80%;
  margin: 0 auto;
  height: 50%;
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  transition-duration: 1s;

  .pr {
    width: 30%;
    margin: 2vh 1.5%;
  }

  .Project {
    width: 100%;

    height: 30vh;
    box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.95);
    border-radius: 5px;
    animation: 1s project ease-in;

    @keyframes project {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    &:hover {
      box-shadow: none;
      transition-duration: 1s;
    }

    .Text,
    .AngText {
      display: flex;
      flex-direction: column;
      color: #fff;
      opacity: 0;
      height: 100.5%;
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;

      &:hover {
        background: linear-gradient(45deg, $gradient1, $gradient2);
        opacity: 1;
        transition-duration: 0.5s;
      }
      h2 {
        font-weight: 400;
      }

      h3 {
        font-weight: 300;
        width: 90%;
        margin: 0 auto;
      }
      .options {
        display: flex;
        width: 60%;
        margin: 4vh 0;
        a {
          margin: 0 0.5vw;
          flex-grow: 1;

          text-decoration: none;
          color: #fff;
          width: 40%;
        }
        h5 {
          border: 2px solid #fff;
          line-height: 2.5;
          width: 100%;
          margin: 0;
        }
      }
    }

    .AngText {
      &:hover {
        background: linear-gradient(45deg, $angular, #7f0e0e);
        opacity: 1;
        transition-duration: 0.5s;
      }
    }
  }
}

@media screen and (max-width: 1170px) {
  .Projects {
    .Categories {
      width: 95%;
    }
  }

  .ProjectsDiv {
    width: 90%;
    margin: 0 auto;
    justify-content: center;

    .pr {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .Projects {
    width: 100%;

    h1 {
      margin: 15vh 0 0;
    }
  }

  .ProjectsDiv {
    .Project {
      height: 40vh;
    }
  }
}
